body{
    background-color: blueviolet;
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
nav {
    background-color: rgb(33, 33, 109);
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: x-large;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:1rem;
    color:aliceblue;
}
nav h3 span{
    color:rgba(9, 129, 241, 0.779);
}
nav ul{
    display:flex;
}
nav ul li{
    margin:1rem;
    list-style-type: none;
}
nav ul li a {
    color:aliceblue;
    text-decoration: none;
    font-size: large;
    margin-left: 0 0 1rem 1rem;
    position:relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgba(9, 129, 241, 0.779);
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
#getmarre{
    padding:5px 10px;
    background-color: rgba(9, 129, 241, 0.779);
    border-radius: 4px;
}
/* ------------------------Header ends here--------------------- */

main{
    background-image: url("Background_Img.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}